<h1> Sign Up as an Employer</h1>
<form method="post" action="">
<p> Name <input type="text" name="name" placeholder="Name"> </p>
<p> 
Industry <select name="industry">
  <option value="IT">IT</option>
  <option value="Management">Management</option>
</select>
</p>
<p> Registration Number <input type="text" name="reg_no" placeholder="Registration Number"> </p>
<p> Contact Name <input type="text" name="contact_name" placeholder="Contact Name"> </p>
<p> Designation <input type="text" name="desgination" placeholder="Desgination"> </p>
<p> Phone Number <input type="text" name="phone_no" placeholder="Phone Number"> </p>
<p> Office Location <input type="text" name="address" placeholder="Office Location"> </p>
<input class="btn-danger" type="submit">
</form>