.test {
	text-align:center;
}
.background{
	background: url("../images/Back1.jpg") no-repeat center;
 	min-height: 1200px;
 	background-size: cover;
 	-webkit-background-size: cover;
 	-moz-background-size: cover; 
}