<head> 
<!-- bootstrap included -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}/CSS/base.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- AngularJS -->

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{{ STATIC_URL }}angular_app/libs/ui-bootstrap-tpls-0.11.0.min.js"></script>

<!-- End JS-->    
{% block head_stylesheets %}
{% endblock %}
</head> 
<div class="background fluid-container" ng-app="FindAStudent">
<div ng-controller="MasterCtrl"> 

{% block meta %}
{% endblock %}

{% include 'partials/user_nav.html' %}

{% block main %} 

{% endblock %}

{% block extra %}
{% endblock %}

{% block content %}
{% endblock %}
</div>
{% block footer_scripts %}
{% endblock %}	



